<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >


    <!-- Colors -->
    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>

    <material name="orange">
        <color rgba="1 0.3 0.1 1"/>
    </material>

    <material name="blue">
        <color rgba="0.2 0.2 1 1"/>
    </material>

    <material name="green">
        <color rgba="0 0.8 0.1 1"/>
    </material>

    <material name="light_gray">
        <color rgba="0.7 0.7 0.7 1"/>
    </material>

    <material name="dark_gray">
        <color rgba="0.3 0.3 0.3 1"/>
    </material>

    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>


    <!--Measures-->
    <xacro:property name="B_base_length" value="0.005"/>
    <xacro:property name="B_base_radius" value="0.089"/>

    <xacro:property name="MT_length" value="0.005"/>
    <xacro:property name="MT_radius" value="0.070"/>

    <xacro:property name="Support_AX" value="0.07571"/>
    <xacro:property name="Support_AY" value="0.07648"/>
    <xacro:property name="Support_AZ" value="0.04"/>

    <xacro:property name="Support_BX" value="0.07571"/>
    <xacro:property name="Support_BY" value="0.07648"/>
    <xacro:property name="Support_BZ" value="0.051"/>

    <xacro:property name="wheel_thickness" value="0.027"/>
    <xacro:property name="wheel_radius" value="0.0325"/>

    <xacro:property name="U_base_box_X" value="0.032"/>
    <xacro:property name="U_base_box_Y" value="0.038"/>
    <xacro:property name="U_base_box_Z" value="0.03902"/>

    <xacro:property name="U_wheel_thickness" value="0.0144"/>
    <xacro:property name="U_wheel_radius" value="0.0115"/>

    <xacro:property name="Lidar_base_X" value="0.10457"/>
    <xacro:property name="Lidar_base_Y" value="0.0787"/>
    <xacro:property name="Lidar_base_Z" value="0.0305"/>

    <xacro:property name="Lidar_motor_length" value="0.0245"/>
    <xacro:property name="Lidar_motor_radius" value="0.035"/>

    <xacro:property name="Camera_base_X" value="0.0265"/>
    <xacro:property name="Camera_base_Y" value="0.0335"/>
    <xacro:property name="Camera_base_Z" value="0.01878"/>

    <xacro:property name="Camera_X" value="0.00112"/>
    <xacro:property name="Camera_Y" value="0.0246"/>
    <xacro:property name="Camera_Z" value="0.024"/>



    <!--Mass-->
    <xacro:property name="B_base_mass" value="0.08"/>

    <xacro:property name="MT_mass" value="0.04"/>

    <xacro:property name="Support_A_mass" value="0.3"/>

    <xacro:property name="Support_B_mass" value="0.5"/>

    <xacro:property name="wheel_mass" value="0.120"/>    

    <xacro:property name="U_base_mass" value="0.05"/> 

    <xacro:property name="U_wheel_mass" value="0.01"/>

    <xacro:property name="Lidar_base_mass" value="0.1"/>

    <xacro:property name="Lidar_motor_mass" value="0.1"/>

    <xacro:property name="Camera_base_mass" value="0.025"/>

    <xacro:property name="Camera_mass" value="0.01"/>

    <!-- Standard inertial calculations https://en.wikipedia.org/wiki/List_of_moments_of_inertia -->

    <xacro:macro name="inertial_sphere" params="mass radius *origin">
        <inertial>
            <xacro:insert_block name="origin"/>
            <mass value="${mass}" />
            <inertia ixx="${(2/5) * mass * (radius*radius)}" ixy="0.0" ixz="0.0"
                    iyy="${(2/5) * mass * (radius*radius)}" iyz="0.0"
                    izz="${(2/5) * mass * (radius*radius)}" />
        </inertial>
    </xacro:macro>  


    <xacro:macro name="inertial_box" params="mass x y z *origin">
        <inertial>
            <xacro:insert_block name="origin"/>
            <mass value="${mass}" />
            <inertia ixx="${(1/12) * mass * (y*y+z*z)}" ixy="0.0" ixz="0.0"
                    iyy="${(1/12) * mass * (z*z+x*x)}" iyz="0.0"
                    izz="${(1/12) * mass * (x*x+y*y)}" />
        </inertial>
    </xacro:macro>


    <xacro:macro name="inertial_cylinder" params="mass length radius *origin">
        <inertial>
            <xacro:insert_block name="origin"/>
            <mass value="${mass}" />
            <inertia ixx="${(1/12) * mass * (3*radius*radius + length*length)}" ixy="0.0" ixz="0.0"
                    iyy="${(1/12) * mass * (3*radius*radius + length*length)}" iyz="0.0"
                    izz="${(1/2) * mass * (radius*radius)}" />
        </inertial>
    </xacro:macro>


</robot>